<div class="section">
    <h1><%- __('articles.title') %></h1>

    <div class="article-series">
        <h2><%- __('articles.categories.ai_product') %></h2>

        <div class="article-item">
            <h3><%- __('articles.ai_optimization.title') %></h3>
            <p><%- __('articles.ai_optimization.description') %></p>
            <p><em><%- __('articles.ai_optimization.date') %></em></p>
            <a href="#" class="article-link"><%- __('articles.ai_optimization.read_more') %></a>
        </div>

        <div class="article-item">
            <h3><%- __('articles.ai_agile.title') %></h3>
            <p><%- __('articles.ai_agile.description') %></p>
            <p><em><%- __('articles.ai_agile.date') %></em></p>
            <a href="#" class="article-link"><%- __('articles.ai_agile.read_more') %></a>
        </div>
    </div>

    <div class="article-series">
        <h2><%- __('articles.categories.technical') %></h2>

        <div class="article-item">
            <h3><%- __('articles.microservices.title') %></h3>
            <p><%- __('articles.microservices.description') %></p>
            <p><em><%- __('articles.microservices.date') %></em></p>
            <a href="#" class="article-link"><%- __('articles.microservices.read_more') %></a>
        </div>

        <div class="article-item">
            <h3><%- __('articles.docker.title') %></h3>
            <p><%- __('articles.docker.description') %></p>
            <p><em><%- __('articles.docker.date') %></em></p>
            <a href="#" class="article-link"><%- __('articles.docker.read_more') %></a>
        </div>
    </div>
</div>
