<div class="section">
    <h1><%- __('experience.title') %></h1>

    <div class="experience-item">
        <h2><%- __('experience.boyner.title') %></h2>
        <p><%- __('experience.dates.boyner') %></p>
        <p><%- __('experience.boyner.description') %></p>
    </div>

    <div class="experience-item">
        <h2><%- __('experience.stratezy.title') %></h2>
        <p><%- __('experience.dates.stratezy') %></p>
        <p><%- __('experience.stratezy.description') %></p>
    </div>

    <div class="experience-item">
        <h2><%- __('experience.jury.title') %></h2>
        <p><%- __('experience.dates.jury') %></p>
        <p><%- __('experience.jury.description') %></p>
    </div>

    <div class="experience-item">
        <h2><%- __('experience.makeitproduct.title') %></h2>
        <p><%- __('experience.dates.makeitproduct') %></p>
        <p><%- __('experience.makeitproduct.description') %></p>
    </div>

    <div class="experience-item">
        <h2><%- __('experience.wugo.title') %></h2>
        <p><%- __('experience.dates.wugo') %></p>
        <p><%- __('experience.wugo.description') %></p>
    </div>

    <div class="experience-item">
        <h2><%- __('experience.pep.title') %></h2>
        <p><%- __('experience.dates.pep') %></p>
        <p><%- __('experience.pep.description') %></p>
    </div>

    <div class="experience-item">
        <h2><%- __('experience.newmind.title') %></h2>
        <p><%- __('experience.dates.newmind') %></p>
        <p><%- __('experience.newmind.description') %></p>
    </div>

    <div class="experience-item">
        <h2><%- __('experience.locup.title') %></h2>
        <p><%- __('experience.dates.locup') %></p>
        <p><%- __('experience.locup.description') %></p>
    </div>

    <div class="experience-item">
        <h2><%- __('experience.inveon.title') %></h2>
        <p><%- __('experience.dates.inveon') %></p>
        <p><%- __('experience.inveon.description') %></p>
    </div>
</div> 