<div class="section">
    <h1><%- __('projects.title') %></h1>

    <div class="project-item">
        <h2><%- __('projects.stratezy.title') %></h2>
        <p><%- __('projects.stratezy.description') %></p>
        <p><strong><%- __('projects.stratezy.technologies') %></strong> <%- __('projects.stratezy.tech_list') %></p>
        <p><a href="https://stratezy.net" target="_blank">stratezy.net</a></p>
    </div>

    <div class="project-item">
        <h2><%- __('projects.locup.title') %></h2>
        <p><%- __('projects.locup.description') %></p>
        <p><strong><%- __('projects.locup.technologies') %></strong> <%- __('projects.locup.tech_list') %></p>
        <p><a href="https://drive.google.com/file/d/1UfOgwx9EgfAVBunGpNAcAGpcXWsy2JzN/view?usp=share_link" target="_blank"><%- __('projects.locup.pitch_deck') %></a></p>
    </div>

    <div class="project-item">
        <h2><%- __('projects.smart_plug.title') %></h2>
        <p><%- __('projects.smart_plug.description') %></p>
        <p><strong><%- __('projects.smart_plug.technologies') %></strong> <%- __('projects.smart_plug.tech_list') %></p>
        <p><a href="https://drive.google.com/file/d/1d05yeP7s6-VN8GtBZKSzdwKjFtLerEjZ/view?usp=sharing" target="_blank"><%- __('projects.smart_plug.paper') %></a></p>
    </div>
</div>
